#root {
    width: 100%;
    --album-details-open-size: 300px;
}

.library {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow-y: scroll;
    margin: 0;
    padding: 10px;
}

.library-album {
    list-style-type: none;
    content-visibility: auto;
    padding: 10px;

    img {
        transition: filter ease-out 0.2s;
    }

    a {
        color: inherit;
    }

    a:hover {
        text-decoration-line: underline;
        cursor: pointer;

        img {
            box-shadow: rgba(0,0,0,50%) 0 10px 20px;
            filter: brightness(30%);
        }
    }
    img {
        width: 100%;
        aspect-ratio: 1;
        content-visibility: auto;
        box-shadow: rgba(0,0,0,50%) 0 5px 15px;
    }
}

.album-details {
    grid-column: 1 / -1;
    overflow-y: hidden;
    height: 0;
    display: none;
    margin: 0 -10px;

    img {
        height: 100%;
    }
    .album-title {
         font-size: xx-large;
    }
    .album-artist {
        font-size: large;
    }

    ul {
        backdrop-filter: blur(var(--album-details-open-size));
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(auto-fill, 1.5em);
        grid-template-columns: repeat(10, auto);
        column-gap: 4px;
        width: auto;
        overflow-x: scroll;
        scrollbar-width: thin;
        list-style-type: decimal;
    }

    li {
        text-wrap: nowrap;
    }
}

.album-details.open {
    animation: expand-album-details 0.3s ease-in-out forwards;
    height: var(--album-details-open-size);
    display: block;
}

.album-details.closing {
    animation: collapse-album-details 0.3s ease-in-out forwards;
    height: var(--album-details-open-size);
    display: block;
}

.album-details-inner {
    display: grid;
    grid-template-areas:
        "header art"
        "tracks art";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto var(--album-details-open-size);
    height: var(--album-details-open-size);
}

.album-title {
    font-weight: bold;
}
.album-artist {
    font-weight: normal;
    font-style: italic;
    opacity: 70%;
    margin-bottom: 4px;
}

@keyframes expand-album-details {
    0% {
        height: 0;
        display: none;
    }
    100% {
        height: var(--album-details-open-size);
    }
}
@keyframes collapse-album-details {
    0% {
        height: var(--album-details-open-size);
    }
    100% {
        height: 0;
        display: none;
    }
}